<div class="control-group">
  <label class="control-label" for='full_plural_name'>{{i18n 'groups.manage.full_plural_name'}}</label>

  {{text-field name='full_plural_name'
      class="input-xxlarge group-form-full-plural-name"
      value=model.custom_fields.full_plural_name}}
</div>

<div class="control-group">
  <label class="control-label" for='full_leader_name'>{{i18n 'groups.manage.full_leader_name'}}</label>

  {{text-field name='full_leader_name'
      class="input-xxlarge group-form-full-leader-name"
      value=model.custom_fields.full_leader_name}}
</div>