/* INDEX */
tr[data-category-id] {
  &:nth-child(odd) {
    td.category { border-left-color: $quaternary !important; }
  }
  &:nth-child(even) {
    td.category { border-left-color: $tertiary !important; }
  }
}

/* CATEGORY VIEW */
.category-boxes .category-box {
  &:nth-child(odd) { border-left-color: $quaternary !important; }
  &:nth-child(even) { border-left-color: $tertiary !important; }
}

/* PROFILES */
.profile-staff-sticker {
  padding: 7px;
  margin: 0 0.10em;
  font-weight: bold;
  a { color: inherit !important; }
  &:after { content: none !important; }
}

.user-main {
  .about {
    .secondary { border: none !important; }
    .details {
          
    }
  }
}

/* GLOBAL */
a.discourse-tag {
  color: $quaternary !important;
  font-weight: bold;
}